body{
    margin: 0;
    padding: 0;
    background:  url(bg.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.box{
    width: 450px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: sans-serif;
}

.box img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    transition: 0.5s;
    cursor: pointer;
}

.box img:hover{
    transform: scale(0.9);
}

.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
    color: #FFFFFF;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

.box h5{
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 3px;
    color: #FFD166;
}

.box p{
    text-align: center;
    color: #F8F9FA;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

ul{
    margin: 0px;
    padding: 0px;
}

.box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
}

.box li a{
    color: white;
    font-size: 60px;
    transition: all ease-in-out 250ms;
    text-decoration: none;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

.box li a:hover{
    color: #b9b9b9;
}